[Unit]
Description=Disable Ethernet Flow Control
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/sbin/ethtool -A eth0 rx off tx off && /sbin/ethtool -s eth0 speed 100 duplex full autoneg off"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
